    <md-toolbar class="PFToolbar">
        <span>
        <h1>
            {{title}}
        </h1>
        </span>
        <span class="example-fill-remaining-space"></span>

        <span><a routerLinkActive="true" routerLink="/tournaments">Start</a></span>
        <span class="divider"> | </span>
        <span><a routerLink="/admin" routerLinkActive="true">Admin</a></span>
        <span class="divider"> | </span>
        <span><a href="http://www.google.be">About me</a></span>

    </md-toolbar>
    <router-outlet></router-outlet>
